@use '../../variables' as variables;

.app-page {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.photo-site {
    height: 100vh;
}

@media (max-width: variables.$mobile-width) {
  .photo-site {
    width: 95vw;
  }
}

@media (min-width: variables.$mobile-width) {
  .photo-site {
    width: 99vw;
  }
}
