<div class="store">
  <mat-toolbar-row class="toolbar-row">
    <a routerLink="/store" class="title-link">
      <h1 class="title">Zachary's Store</h1></a>
    <mat-divider></mat-divider>
  </mat-toolbar-row>
  <mat-toolbar-row class="toolbar-row">
    <span class="menu-entries">
      <div class="menu-entry">
        <button
          mat-button
          [matMenuTriggerFor]="productsMenu"
        >
          Products
        </button>
        <mat-menu #productsMenu="matMenu">
          @for (product of products; track product) {
            <a mat-menu-item routerLink="/store/{{ product.slug }}">{{
              product.name
            }}</a>
          }
        </mat-menu>
      </div>
      <div class="menu-entry">
        <button mat-button [matMenuTriggerFor]="servicesMenu">Services</button>
        <mat-menu #servicesMenu="matMenu">
          @for (service of services; track service) {
            <a mat-menu-item routerLink="/store/{{ service.slug }}">{{
              service.name
            }}</a>
          }
        </mat-menu>
      </div>
      <div class="menu-entry">
        <button mat-button [matMenuTriggerFor]="requestsMenu">Requests</button>
        <mat-menu #requestsMenu="matMenu">
          <a mat-menu-item>Submit a Request</a>
        </mat-menu>
      </div>
    </span>
    <mat-divider></mat-divider>
  </mat-toolbar-row>
  <router-outlet />
</div>
