<mat-toolbar-row class="toolbar-row">
  <h1 class="title">Zachary's Store</h1>
  <mat-divider></mat-divider>
</mat-toolbar-row>
<mat-toolbar-row class="toolbar-row">
  <span class="menu-entries">
    <div class="menu-entry">
      <button mat-button [matMenuTriggerFor]="menu1" style="border: 0.1em">
        Menu
      </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item>Menu Item1</button>
        <button mat-menu-item>Menu Item2</button>
      </mat-menu>
    </div>
    <div class="menu-entry">
      <button mat-button [matMenuTriggerFor]="menu2">Menu</button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item>Menu Item1</button>
      </mat-menu>
    </div>
    <div class="menu-entry">
      <button mat-button [matMenuTriggerFor]="menu3">Menu</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item>Menu Item1</button>
        <button mat-menu-item>Menu Item2</button>
        <button mat-menu-item>Menu Item3</button>
      </mat-menu>
    </div>
  </span>
  <mat-divider></mat-divider>
</mat-toolbar-row>
