.menu-entries {
  display: flex;
  width: 100%;
  justify-content: center;
}

.menu-entry {
  margin: 1em;
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 20%;
}

.toolbar-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}
