<div class="downloads-page">
  <div class="download-items">
    <span class="download-item">
      <strong style="margin-right: 1em">1.</strong>
      <a
        href="assets/downloads/secret.txt"
        target="_blank"
        download="secret.txt"
      >
        <button mat-stroked-button>Download a Text File</button>
      </a>
    </span>
    <span class="download-item">
      <strong style="margin-right: 1em">2.</strong>
      <a href="/assets/favicon.ico" target="_blank" download="favicon.ico">
        <button mat-stroked-button>Download a Picture</button>
      </a>
    </span>
  </div>
</div>
