.downloads-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.download-items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.download-item {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
}

.file-input {
  display: none;
}

.upload-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload {
  width: 100%;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}