<span class="header">
  <h1>Downloads</h1>
</span>

<div class="downloads-page">
  <div class="download-items">
    <h2>Downloadable Items</h2>
    <span class="download-item">
      <strong class="list-style">1.</strong>
      <a
        href="assets/downloads/secret.txt"
        target="_blank"
        download="secret.txt"
      >
        <button mat-stroked-button>Download a Text File</button>
      </a>
    </span>
    <span class="download-item">
      <strong class="list-style">2.</strong>
      <a href="assets/favicon.ico" target="_blank" download="favicon.ico">
        <button mat-stroked-button>Download a Picture</button>
      </a>
    </span>
  </div>
  <div class="upload-items">
    <h2>Upload and then Download Your Own Files</h2>
    <input
      type="file"
      class="file-input"
      (change)="uploadFile($event)"
      #fileUpload
    />
    <div class="file-upload">
      {{ file?.name || "No file uploaded yet." }}
      <button
        mat-mini-fab
        color="primary"
        class="upload-btn"
        (click)="fileUpload.click()"
      >
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
    <button
      mat-stroked-button
      [disabled]="file === undefined"
      (click)="downloadFile()"
    >
      Download that file
    </button>
  </div>
</div>
