li {
  margin-bottom: 1em;
}

.projects-page {
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.projects-content {
  width: 40%;
  margin-left: 1em;
  justify-content: flex-start;
}

.project-description {
  width: 60%;
}
