@use 'variables' as variables;

li {
  margin-bottom: 1em;
}

.projects-page {
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}

.projects-content {
  width: 25%;
  margin-left: 1em;
  justify-content: flex-start;
}

.project-description {
  width: 40%;
}

.split-divider {
  height: 100vh;
}

.project-entry {
  display: flex;
  flex-direction: row;
}

@media (max-width: variables.$mobile-width) {
  .projects-page {
    font-size: large;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
  }

  .split-divider {
    height: unset;
    width: 100vw;
  }

  .projects-content {
    width: 100%;
    margin-left: 1em;
    justify-content: center;
  }
  
  .project-description {
    width: 100%;
  }
}