<div class="projects-page">
  <div class="projects-content">
    <h1>Projects</h1>
    <ol>
      @for (project of projects; track project) {
        <span style="display: flex; flex-direction: row">
          <li>
            <a href="{{ project.link }}"
              >{{ project.title }} ({{ project.language }})</a
            >
          </li>
          <button mat-icon-button (click)="getReadMe(project.readmeUrl)">
            preview
          </button>
        </span>
      }
    </ol>
  </div>
  <div class="project-description">
    <p>{{ readme }}</p>
  </div>
</div>
