@use "variables" as variables;

.whole-page {
  display: flex;
  justify-content: center;
  height: variables.$page-height;
}

.app-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  touch-action: pan-y !important;
  width: 70%;
}

@media (max-width: variables.$mobile-width) {
  .app-page {
    width: 100%;
  }
}

.headshot {
  max-height: 10em;
  max-width: 10em;
  border-radius: 25%;
}

.divider {
  width: 90%;
  height: 0.1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.submit {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 2em;
  margin-top: 2em;
}

.submit-button {
  width: 80%;
}

.message-field {
  width: 90%;
}

.good-luck-field {
  width: 50%;
}

.name-field {
  width: 40%;
}

.card-form {
  width: 80%;
  background-color: variables.$card-color-dark;
  @media (prefers-color-scheme: light) {
    background-color: variables.$card-color-light;
  }
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1em;
  margin-top: 1em;
}

.links {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.open-in-new {
  font-size: smaller;
}
