<div
  class="app-page"
  (swipeleft)="notifySwipe($event.type)"
  (swiperight)="notifySwipe($event.type)"
>
  <h1>Zachary Greenfield</h1>
  <img
    class="headshot"
    class="headshot"
    src="https://media.licdn.com/dms/image/v2/D5603AQE_kg-Fj0xpoQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1698710469812?e=1730937600&v=beta&t=Hvb__5FFSrAabAQgUPq58e3JSrRYNqmRJ6jrMAs2tRg"
  />
  <mat-divider class="divider"></mat-divider>
  <h2>Contact Me</h2>
  <h3><a href="mailto:zachary.greenfield@veteransunited.com">Email</a></h3>
  <h3>
    <a href="https://www.linkedin.com/in/zacharygreenfieldf/">LinkedIn</a>
  </h3>
  <h3><a href="https://github.com/fztgreen/">Github</a></h3>
  <h3 class="links">
    Like my site?
    <a href="https://buymeacoffee.com/fztgreen">Buy me a coffee!</a
    ><mat-icon svgIcon="bmc"></mat-icon>
  </h3>
</div>
