.game-window {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: x-large;
}

.interface {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 20vh;
  min-width: 10vw;
}

.buttons {
  min-height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
