@use "variables" as variables;

.app-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: variables.$page-height;
  touch-action: pan-y !important;
}

.paragraph {
  text-indent: 1em;
}

.sign-off {
  text-align: right;
}

.blog-post {
  background-color: variables.$card-color-dark;
  @media (prefers-color-scheme: light) {
    background-color: variables.$card-color-light;
  }
  padding: 1em;
  width: 75%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.divider {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
