@use "variables" as variables;

.app-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  touch-action: pan-y !important;
}

.paragraph {
  text-indent: 1em;
}

.sign-off {
  text-align: right;
}

.blog-post {
  background-color: variables.$card-color;
  padding: 1em;
  width: 75%;
}

.divider {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
