<div
  class="app-page"
  (swipeleft)="notifySwipe($event.type)"
  (swiperight)="notifySwipe($event.type)"
>
  <h1>Blog</h1>
  <mat-card class="blog-post" appearance="outlined">
    <mat-card-header>
      <mat-card-title>9/21/2024</mat-card-title>
      <mat-card-subtitle>This site, lately</mat-card-subtitle>
    </mat-card-header>
    <mat-divider class="divider"></mat-divider>
    <mat-card-content>
      <p class="paragraph">
        I've been making so many minor tweaks to the site lately.
      </p>
      <p class="paragraph">
        Firstly, you may notice that many icons have been added. To accomplish
        this, I've decided to use
        <a href="https://fonts.google.com/icons">google's material icons</a> .
        They are ubiquitous and easy to use, and are quite fitting to in a
        google framework like Angular. One design philosphy I have always liked
        is that links should generally open in new tabs by default. This
        funcitonality was not added to this blog post due to developer laziness.
      </p>
      <p class="paragraph">
        There also has been a new route added to the application. You can find
        it under "/game". This is a very simple game, meant to experiment with
        asynchonrous actions with elements similar to the popular "Cookie
        Clicker". Please give it a try if you have the chance. No promises on
        the quality, but it does have some functionality.
      </p>
      <p class="paragraph">
        Instead of using additional routes in the /home endpoint, I have added
        fragments. This is to help link to specific parts of the home page.
        Routes, although used in tabs like this often, seemed to work in
        unexpected ways. Since I do not want to rewrite this functionality for
        now, I will keep the fragments. It is a cool demonstration of what kinds
        of things they can do.
      </p>
      <p class="paragraph">
        I'm sure there are many other changes I've made, but I don't know them
        off the top of my head. So, if you have been here before today, please
        feel free to look around to see if there are any changes that you
        notice.
      </p>
    </mat-card-content>
    <mat-card-footer><p class="sign-off">- Zachary</p></mat-card-footer>
  </mat-card>
  <mat-card class="blog-post" appearance="outlined">
    <mat-card-header>
      <mat-card-title>9/7/2024</mat-card-title>
      <mat-card-subtitle>Creating this Site</mat-card-subtitle>
    </mat-card-header>
    <mat-divider class="divider"></mat-divider>
    <mat-card-content>
      <p class="paragraph">
        This has been a very fun site to work on! Angular is super nifty.
      </p>
      <p class="paragraph">
        I conceived this homepage initially with the idea of using github pages
        to deploy a new Single Page Application. I wanted to get better at using
        Angular standalone components, theming, material, and various other
        aspects of Angular. So, what better a use of time than to set up a
        homepage website?
      </p>
      <p class="paragraph">
        My core design philosphy is to break apart each section of the site into
        components and orchestrate across components efficiently. Angular
        material provides Tab Groups to efficiently show multiple components in
        the same area. I wanted to initially have a "Details" and "Contact" tab,
        and now I am adding a "Blog" tab. There is no real purpose as to each of
        these tabs, but it gives me something to work on. I've thrown around the
        idea of adding some kind of browser game, but I haven't made any
        progress on what that game should exactly be.
      </p>
      <p class="paragraph">
        I wanted the mobile experience to be intuitive and easy to use, so I
        integrated hammerjs into the site. I ran into multiple issues, namely
        with tab groups and the way bindings are applied. I ended up using event
        emitters to pass the gestures from the components to the navigation
        component to handle changes in tab. This is frustrating since I'd rather
        not have to duplicate logic everywhere just to handle gestures. For
        instance, creating this blog component required me to copy and paste
        various styles and code. I could probably create my own directives, but
        there should be something that already exists and is flexible enough to
        be used in any application, such as this one. My plan is to figure out
        what a good replacement for hammerjs might be, since it has been 8 years
        since its last update.
      </p>
    </mat-card-content>
    <mat-card-footer><p class="sign-off">- Zachary</p></mat-card-footer>
  </mat-card>
</div>
