/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();

mat.$theme-ignore-duplication-warnings: true;

$my-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$spring-green-palette,
      tertiary: mat.$spring-green-palette,
    ),
  )
);

$my-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$spring-green-palette,
      tertiary: mat.$spring-green-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($my-dark-theme);

  @media (prefers-color-scheme: light) {
    @include mat.all-component-themes($my-light-theme);
  }
}

body {
  margin-top: 0;
  margin-bottom: 0;
}

.mat-mdc-tab-body-content {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}
