/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();

mat.$theme-ignore-duplication-warnings: true;

$my-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$spring-green-palette,
      tertiary: mat.$spring-green-palette,
    ),
  )
);

$my-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$spring-green-palette,
      tertiary: mat.$spring-green-palette,
    ),
  )
);

$card-color-dark: #282828;
$card-color-light: #f9faf4;


html,
html.dark {
  @include mat.all-component-themes($my-dark-theme);
  .mat-mdc-card {
    background-color: $card-color-dark;
  }
}

html.light {
  @include mat.all-component-themes($my-light-theme);
  .mat-mdc-card {
    background-color: $card-color-light;
  }
}

body {
  margin-top: 0;
  margin-bottom: 0;
}

.mat-mdc-tab-body-content {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}
