/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
 color: (
    theme-type: dark,
    primary: mat.$spring-green-palette,
  ),
));

html {
  @include mat.all-component-themes($my-theme);
  @include mat.core-theme($my-theme);
}

body {
  margin-top: 0;
  margin-bottom: 0;
}