/* You can add global styles to this file, and also import other style files */
@use 'themes' as theme;
@use "@angular/material" as mat;

@include mat.core();

html,
html.dark {
  @include mat.all-component-themes(theme.$my-dark-theme);
  .mat-mdc-card {
    background-color: theme.$card-color-dark;
  }
}

html.light {
  @include mat.all-component-themes(theme.$my-light-theme);
  .mat-mdc-card {
    background-color: theme.$card-color-light;
  }
}

body {
  margin-top: 0;
  margin-bottom: 0;
}

.mat-mdc-tab-body-content {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}
