<div class="whole-page">
  <div
    class="app-page"
    (swipeleft)="notifySwipe($event.type)"
    (swiperight)="notifySwipe($event.type)"
  >
    <h1>Zachary Greenfield</h1>
    <img
      class="headshot"
      class="headshot"
      src="https://media.licdn.com/dms/image/v2/D5603AQE_kg-Fj0xpoQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1698710469812?e=1730937600&v=beta&t=Hvb__5FFSrAabAQgUPq58e3JSrRYNqmRJ6jrMAs2tRg"
    />
    <mat-divider class="divider"></mat-divider>
    <h2>About Me</h2>
    <h3>Software Engineer at</h3>
    <h2>
      <a href="https://www.veteransunited.com/">Veterans United Home Loans</a>
    </h2>
    <p class="centered-text">
      I am dedicated to supporting new software engineers through the Veterans
      United Home Loans (VU) software engineering team "INVEST."
    </p>
    <p class="centered-text">
      You can find me at VU programming, designing new systems, mentoring new
      software engineers, planning team events and strategy, leading
      presentations, interviewing candidates, and always chatting with the team.
    </p>
    <mat-divider class="divider"></mat-divider>
    <h2>Key Skills</h2>
    <mat-list role="list" class="skills">
      <mat-list-item>- C# .NET</mat-list-item>
      <mat-list-item>- Angular</mat-list-item>
      <mat-list-item>- Coffee</mat-list-item>
      <mat-list-item>- Photography</mat-list-item>
    </mat-list>
  </div>
</div>
