.app-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headshot {
    max-height: 10em;
    max-width: 10em;
    border-radius: 25%;
}

.divider {
    width: 90%;
    height: .1em;
    margin-top: 2em;
    margin-bottom: 2em;
}