@use "variables" as variables;

.whole-page {
  display: flex;
  justify-content: center;
  height: variables.$page-height;
}

.app-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  touch-action: pan-y !important;
  width: 70%;
}

@media (max-width: variables.$mobile-width) {
  .app-page {
    width: 100%;
  }
}

.headshot {
  max-height: 10em;
  max-width: 10em;
  border-radius: 25%;
}

.divider {
  width: 90%;
  height: 0.1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.centered-text {
  margin: 2em;
  text-align: left;
  text-indent: 1em;
  font-weight: 100;
}

.skills {
  display: flex;
  align-content: center;
  flex-direction: column;
}
