<div class="whole-page">
  <div
    class="app-page"
    (swipeleft)="notifySwipe($event.type)"
    (swiperight)="notifySwipe($event.type)"
  >
    <app-headshot></app-headshot>
    <mat-divider class="divider"></mat-divider>
    <h2>About Me</h2>
    <h3>Software Engineering Manager &#64;</h3>
    <h2>
      <a href="https://www.veteransunited.com/">Veterans United Home Loans</a>
    </h2>
    <p class="centered-text">
      I am a Software Engineering Manager leading Team Lemongrass &#64; Veterans United Home Loans, focused on software maintainability and observability.
    </p>
    <p class="centered-text">
      You can find me at VU programming, designing new systems, mentoring new
      software engineers, planning team events and strategy, leading
      presentations, interviewing candidates, and always chatting with the team.
    </p>
    <mat-divider class="divider"></mat-divider>
    <h2>Key Skills</h2>
    <mat-list role="list" class="skills">
      <mat-list-item>- C# .NET</mat-list-item>
      <mat-list-item>- Angular</mat-list-item>
      <mat-list-item>- Coffee</mat-list-item>
      <mat-list-item>- Photography</mat-list-item>
    </mat-list>
  </div>
</div>
