<div class="app-page">
    <h1>Zachary Greenfield</h1>
    <img class="headshot" class="headshot"
        src="https://media.licdn.com/dms/image/v2/D5603AQE_kg-Fj0xpoQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1698710469812?e=1730937600&v=beta&t=Hvb__5FFSrAabAQgUPq58e3JSrRYNqmRJ6jrMAs2tRg">
    <h2>Introduction</h2>
    <h3>I am a Software Engineer at Veterans United Home Loans!</h3>
    <h3>Leading a team dedicated to supporting Software Engineers in their journey at VU</h3>
    <mat-divider></mat-divider>
    <h3>Skills</h3>
    <mat-list role="list">
        <mat-list-item>C# .NET</mat-list-item>
        <mat-list-item>Angular</mat-list-item>
    </mat-list>
</div>