@use "variables" as variables;

.service-info-page {
  display: flex;
  flex-direction: column;
  margin: 5em;
}

.service-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.service-description {
  margin: 4em;
  flex-direction: column;
  width: 50%;
}

@media (max-width: variables.$mobile-width) {
  .service-content {
    flex-direction: column;
    align-items: center;
  }

  .service-description {
    width: 95%;
  }
}

.description-text {
  text-indent: 1em;
}

.service-image {
  max-height: 500px;
}
